// University of Cambridge HPC CSD3 cluster profile
// Adapted from nf-core/configs for the Nextflow 26 strict config parser.
//
// Default partition is `icelake` (76 CPUs, 256 GB RAM). To use a different
// partition, override queue and resourceLimits on the command line or in a
// user config, e.g. for `icelake-himem`/`sapphire` (512 GB).
//
// You MUST supply your SLURM project/account. Either export it before running:
//     export NXF_CAMBRIDGE_PROJECT=MYPROJECT-SL2-CPU
// or edit clusterOptions below.

params {
    config_profile_description = 'University of Cambridge HPC CSD3 cluster profile'
    config_profile_contact     = 'Chris Wyatt (ucbtcdr@ucl.ac.uk)'
    config_profile_url         = 'https://docs.hpc.cam.ac.uk/hpc'
}

executor {
    name              = 'slurm'
    queueSize         = 200
    submitRateLimit   = '10/1s'
    pollInterval      = '5 min'
    queueStatInterval = '5 min'
}

process {
    executor       = 'slurm'
    queue          = 'icelake'
    scratch        = true
    cache          = 'lenient'
    resourceLimits = [ cpus: 76, memory: 256.GB, time: 36.h ]
    clusterOptions = { env('NXF_CAMBRIDGE_PROJECT') ? "-A ${env('NXF_CAMBRIDGE_PROJECT')}" : '' }
    beforeScript   = 'module purge; module load rhel8/default-icl'
}

singularity {
    enabled    = true
    autoMounts = true
}
