process.executor = 'local'

executor {
    queueSize = 2
}

params {
  max_memory                 = '4.GB'
  max_cpus                   =  2
  max_time                   = '4.h'
}

process {
  resourceLimits = [
    cpus  : params.max_cpus as int,
    memory: params.max_memory as nextflow.util.MemoryUnit,
    time  : params.max_time as nextflow.util.Duration
  ]
}
