/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: 'GFFREAD' {
        publishDir = [
            path: { "${params.outdir}/gffread" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'ORTHOFINDER' {
        publishDir = [
            path: { "${params.outdir}/orthofinder" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'EARLGREY' {
        publishDir = [
            path: { "${params.outdir}/earlgrey" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'HITE' {
        publishDir = [
            path: { "${params.outdir}/hite" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'PARSE_TE' {
        publishDir = [
            path: { "${params.outdir}/compare_te/per_method" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'COMBINE_TE' {
        publishDir = [
            path: { "${params.outdir}/compare_te" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'FAMDB_PY_EMBL' {
        publishDir = [
            path: { "${params.outdir}/repeatmasker/famdb" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'REPEATMODELER_BUILDDATABASE' {
        publishDir = [
            path: { "${params.outdir}/repeatmasker/repeatmodeler_db" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'REPEATMODELER_REPEATMODELER' {
        publishDir = [
            path: { "${params.outdir}/repeatmasker/repeatmodeler/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'CAT_CAT' {
        ext.prefix = { "${meta.id}_combined_library.fasta" }
        publishDir = [
            path: { "${params.outdir}/repeatmasker/library" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'CDHIT_CDHITEST|MMSEQS_EASYCLUSTER|MMSEQS_EASYLINCLUST' {
        publishDir = [
            path: { "${params.outdir}/repeatmasker/library" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'REPEATMASKER_REPEATMASKER' {
        ext.args = {
            params.repeatmasker_speed == 'default' ? '' : "-${params.repeatmasker_speed}"
        }
        publishDir = [
            path: { "${params.outdir}/repeatmasker/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'TE_TBL_2_TABLE' {
        publishDir = [
            path: { "${params.outdir}/repeatmasker" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'CUSTOM_DUMPSOFTWAREVERSIONS' {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }
}
