params {
  input                      = "${projectDir}/data/input_bacteria.csv"  
  // Small bacterial genomes need very little; cap resources low for test runs
  max_memory                 = '8.GB'
  max_cpus                   =  2
  max_time                   = '4.h'
}

process {
    withName: EARLGREY {
        cpus   = 2
        memory = 16.GB
        time   = 4.h
    }
}

process {
    withName: HITE {
        cpus   = 2
        memory = 16.GB
        time   = 4.h
    }
}